<h2>Modifier l'abonné</h2>
<form action="/subscribers/<%= subscriber._id %>/update" method="POST">
  <div class="form-group">
    <label for="name">Nom complet</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= subscriber.name %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      value="<%= subscriber.email %>"
      required
    />
  </div>
  <div class="form-group">
    <label for="zipCode">Code Postal</label>
    <input
      type="text"
      class="form-control"
      id="zipCode"
      name="zipCode"
      value="<%= subscriber.zipCode %>"
      pattern="\d{5}"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Enregistrer</button>
  <a href="/subscribers/<%= subscriber._id %>" class="btn btn-secondary"
    >Annuler</a
  >
</form>
